[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scanpy = "*"
leidenalg = "*"
scrublet = "*"
ipykernel = "*"
scanorama = "*"
harmonypy = "*"
faiss-cpu = "*"
numpy = "*"
anndata2ri = "*"
rpy2 = "*"
tensorflow = "*"
symphonypy = "*"
opentsne = "*"
packaging = "*"
bioinfokit = "==2.0.8"
h5py = "*"
seaborn = "*"
scvelo = {editable = true, git = "https://github.com/theislab/scvelo"}
cellrank = "*"
palantir = "*"
gseapy = "*"
pytest = "*"
bbknn = "*"

[dev-packages]

[requires]
python_version = "3.10"
