[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scanpy = "*"
leidenalg = "*"
scrublet = "*"
ipykernel = "*"
scanorama = "*"
harmonypy = "*"
ocat = "*"
faiss-cpu = "*"
seaborn = "*"
scvi-tools = "*"
numpy = "*"
scarches = "*"
anndata2ri = "*"
rpy2 = "*"
scnym = "*"
tensorflow = "*"
symphonypy = "*"
opentsne = "*"
packaging = "*"
cellrank = "*"

[dev-packages]

[requires]
python_version = "3.10"
